tab_issue_rep_flow.json
[
    {
        "id": "5130c95e050fe9b6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ui_theme_01",
        "type": "ui-theme",
        "name": "Tema Default",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ui_base_01",
        "type": "ui-base",
        "name": "Dashboard Demo",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification"
        ],
        "showPathInSidebar": false,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "cf6324aece5445ca",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094ce",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3c88ebbd2d694eb8",
        "type": "ui-page",
        "name": "PN STATION STATUS",
        "ui": "ui_base_01",
        "path": "/pn_station_status",
        "icon": "view-dashboard",
        "layout": "grid",
        "theme": "cf6324aece5445ca",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0fc15b81a6659337",
        "type": "ui-page",
        "name": "NETWORK STATUS",
        "ui": "ui_base_01",
        "path": "/home",
        "icon": "home",
        "layout": "grid",
        "theme": "cf6324aece5445ca",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "f2df73be35a54955",
        "type": "ui-group",
        "name": "PN Station Status",
        "page": "3c88ebbd2d694eb8",
        "width": "30",
        "height": "16",
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "e60a5c76eea9c8f2",
        "type": "ui-group",
        "name": "Default",
        "page": "0fc15b81a6659337",
        "width": "12",
        "height": 1,
        "order": 1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "f36e68551e313b30",
        "type": "ui-group",
        "name": "Selected",
        "page": "3c88ebbd2d694eb8",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "false",
        "disabled": "false",
        "groupType": "dialog"
    },
    {
        "id": "5f506369d32bf554",
        "type": "function",
        "z": "5130c95e050fe9b6",
        "name": "set Data",
        "func": "let data= msg.payload;\nmsg.tbCmd=\"setData\";\nmsg.tbArgs=[data];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 367.00003814697266,
        "y": 242.0000171661377,
        "wires": [
            [
                "a2830c71f8f374e3"
            ]
        ]
    },
    {
        "id": "47a8bae9cfdae93e",
        "type": "ui-tabulator",
        "z": "5130c95e050fe9b6",
        "name": "PN STATION STATUS",
        "group": "f2df73be35a54955",
        "initObj": "{\n  \"height\": 900,\n  \"layout\": \"fitColumns\",\n  \"headerVisible\": false,\n  \"columns\": [\n    {\"title\":\"id\",\"field\":\"id\",\"visible\":false},\n    {\"title\":\"C0\",\"field\":\"C0\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C1\",\"field\":\"C1\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C2\",\"field\":\"C2\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C3\",\"field\":\"C3\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C4\",\"field\":\"C4\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C5\",\"field\":\"C5\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C6\",\"field\":\"C6\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C7\",\"field\":\"C7\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C8\",\"field\":\"C8\",\"hozAlign\":\"left\",\"formatter\":\"html\"},\n    {\"title\":\"C9\",\"field\":\"C9\",\"hozAlign\":\"left\",\"formatter\":\"html\"}\n  ]\n}",
        "funcs": "",
        "allowMsgFuncs": false,
        "maxWidth": "",
        "events": "cellClick",
        "order": 1,
        "multiUser": false,
        "validateRowIds": false,
        "themeCSS": "",
        "themeFile": "",
        "tblDivId": "",
        "printToLog": false,
        "width": "27",
        "height": "15",
        "x": 707.0000381469727,
        "y": 242.0000171661377,
        "wires": [
            [
                "1b913b54cb81d2d9"
            ]
        ]
    },
    {
        "id": "a2830c71f8f374e3",
        "type": "delay",
        "z": "5130c95e050fe9b6",
        "name": "",
        "pauseType": "delay",
        "timeout": "2.5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 517.0000381469727,
        "y": 242.0000171661377,
        "wires": [
            [
                "47a8bae9cfdae93e"
            ]
        ]
    },
    {
        "id": "c7145269f5c38f9b",
        "type": "inject",
        "z": "5130c95e050fe9b6",
        "name": "Example",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "[{\"id\":0,\"C0\":\"<div style=\\\"background-color: green; width: 100%; height: 75px; position: relative; color: white; font-family: sans-serif; font-size: 12px; overflow: hidden;\\\">\\n    <div style=\\\"background-color: green; width: 15px; height: 15px; position: absolute; top: 0; right: 0;\\\">\\n    </div>\\n    <div style=\\\"background-color: green !important; padding: 12px 5px 5px 5px; height: 100%; overflow: hidden;\\\">\\n        <div\\n            style=\\\"display: flex; align-items: center; gap: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">\\n            <span\\n                style=\\\" display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: green; flex-shrink: 0; \\\"></span>\\n            <span>192.168.0.7</span> </div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">dev5</div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">Buskoppler Profinet</div>\\n    </div>\\n  </div>\",\"C1\":\"<div style=\\\"background-color: green; width: 100%; height: 75px; position: relative; color: white; font-family: sans-serif; font-size: 12px; overflow: hidden;\\\">\\n    <div style=\\\"background-color: green; width: 15px; height: 15px; position: absolute; top: 0; right: 0;\\\">\\n    </div>\\n    <div style=\\\"background-color: green !important; padding: 12px 5px 5px 5px; height: 100%; overflow: hidden;\\\">\\n        <div\\n            style=\\\"display: flex; align-items: center; gap: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">\\n            <span\\n                style=\\\" display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: green; flex-shrink: 0; \\\"></span>\\n            <span>192.168.0.6</span> </div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">dev4</div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">IM151-3</div>\\n    </div>\\n  </div>\",\"C2\":\"<div style=\\\"background-color: green; width: 100%; height: 75px; position: relative; color: white; font-family: sans-serif; font-size: 12px; overflow: hidden;\\\">\\n    <div style=\\\"background-color: green; width: 15px; height: 15px; position: absolute; top: 0; right: 0;\\\">\\n    </div>\\n    <div style=\\\"background-color: green !important; padding: 12px 5px 5px 5px; height: 100%; overflow: hidden;\\\">\\n        <div\\n            style=\\\"display: flex; align-items: center; gap: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">\\n            <span\\n                style=\\\" display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: green; flex-shrink: 0; \\\"></span>\\n            <span>192.168.0.2</span> </div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">dev1</div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">IM151-3</div>\\n    </div>\\n  </div>\",\"C3\":\"<div style=\\\"background-color: green; width: 100%; height: 75px; position: relative; color: white; font-family: sans-serif; font-size: 12px; overflow: hidden;\\\">\\n    <div style=\\\"background-color: green; width: 15px; height: 15px; position: absolute; top: 0; right: 0;\\\">\\n    </div>\\n    <div style=\\\"background-color: green !important; padding: 12px 5px 5px 5px; height: 100%; overflow: hidden;\\\">\\n        <div\\n            style=\\\"display: flex; align-items: center; gap: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">\\n            <span\\n                style=\\\" display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: green; flex-shrink: 0; \\\"></span>\\n            <span>192.168.0.1</span> </div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">pn-io</div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">S7-300</div>\\n    </div>\\n  </div>\",\"C4\":\"<div style=\\\"background-color: green; width: 100%; height: 75px; position: relative; color: white; font-family: sans-serif; font-size: 12px; overflow: hidden;\\\">\\n    <div style=\\\"background-color: green; width: 15px; height: 15px; position: absolute; top: 0; right: 0;\\\">\\n    </div>\\n    <div style=\\\"background-color: green !important; padding: 12px 5px 5px 5px; height: 100%; overflow: hidden;\\\">\\n        <div\\n            style=\\\"display: flex; align-items: center; gap: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">\\n            <span\\n                style=\\\" display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: yellow; flex-shrink: 0; \\\"></span>\\n            <span>192.168.0.4</span> </div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">dev2</div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">SCALANCE X-200</div>\\n    </div>\\n  </div>\",\"C5\":\"<div style=\\\"background-color: green; width: 100%; height: 75px; position: relative; color: white; font-family: sans-serif; font-size: 12px; overflow: hidden;\\\">\\n    <div style=\\\"background-color: green; width: 15px; height: 15px; position: absolute; top: 0; right: 0;\\\">\\n    </div>\\n    <div style=\\\"background-color: green !important; padding: 12px 5px 5px 5px; height: 100%; overflow: hidden;\\\">\\n        <div\\n            style=\\\"display: flex; align-items: center; gap: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">\\n            <span\\n                style=\\\" display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: yellow; flex-shrink: 0; \\\"></span>\\n            <span>192.168.0.5</span> </div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">dev3</div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">SCALANCE X-200</div>\\n    </div>\\n  </div>\",\"C6\":\"<div style=\\\"background-color: green; width: 100%; height: 75px; position: relative; color: white; font-family: sans-serif; font-size: 12px; overflow: hidden;\\\">\\n    <div style=\\\"background-color: green; width: 15px; height: 15px; position: absolute; top: 0; right: 0;\\\">\\n    </div>\\n    <div style=\\\"background-color: green !important; padding: 12px 5px 5px 5px; height: 100%; overflow: hidden;\\\">\\n        <div\\n            style=\\\"display: flex; align-items: center; gap: 5px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">\\n            <span\\n                style=\\\" display: inline-block; width: 10px; height: 10px; border-radius: 50%; background-color: green; flex-shrink: 0; \\\"></span>\\n            <span>192.168.0.8</span> </div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">dev6</div>\\n        <div style=\\\"white-space: nowrap; overflow: hidden; text-overflow: ellipsis;\\\">KP8 PN 8KEYS 8DI/O DC24V</div>\\n    </div>\\n  </div>\"}]",
        "payloadType": "json",
        "x": 187.00003814697266,
        "y": 242.0000171661377,
        "wires": [
            [
                "5f506369d32bf554"
            ]
        ]
    },
    {
        "id": "6b70c7e73b29e513",
        "type": "ui-template",
        "z": "5130c95e050fe9b6",
        "group": "e60a5c76eea9c8f2",
        "page": "",
        "ui": "",
        "name": "Preload the table",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<iframe src=\"/dashboard/pn_station_status\" style=\"display:none\"></iframe>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 210,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "1b913b54cb81d2d9",
        "type": "function",
        "z": "5130c95e050fe9b6",
        "name": "Cell Clicked",
        "func": "if (msg.msgType !== \"tbNotification\" || msg.event !== \"cellClick\") {\n    return null;\n}\nif(!msg.payload.value){\n    return null;\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 917.0000381469727,
        "y": 242.0000171661377,
        "wires": [
            [
                "5c0b793368f8c606",
                "1d225224e27aa205"
            ]
        ]
    },
    {
        "id": "59f03b602ebe4496",
        "type": "ui-template",
        "z": "5130c95e050fe9b6",
        "group": "",
        "page": "3c88ebbd2d694eb8",
        "ui": "",
        "name": "Page Style PN STATION STATUS",
        "order": 0,
        "width": 0,
        "height": 0,
        "head": "",
        "format": ".tabulator{\n    font-size:16px !important;\n    background-color:White !important;\n}\n.tabulator-header{\n    background-color: White !important;\n    color:steelblue !important;\n}\n.tabulator-row{\n    background-color: White !important;\n}\n.tabulator-cell {\n        border: 3px solid transparent;\n        box-sizing: border-box;\n    }\n\n.tabulator-cell:hover {\n    border: 3px solid #585858;\n    cursor: pointer;\n}\n",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "page:style",
        "className": "",
        "x": 520,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "5c0b793368f8c606",
        "type": "debug",
        "z": "5130c95e050fe9b6",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1087.0000381469727,
        "y": 282.0000171661377,
        "wires": []
    },
    {
        "id": "1d225224e27aa205",
        "type": "change",
        "z": "5130c95e050fe9b6",
        "name": "Show Dialog",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"groups\":{\"show\":[\"PN STATION STATUS:Selected\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1077.0000381469727,
        "y": 182.0000171661377,
        "wires": [
            [
                "267591c6d73da31d"
            ]
        ]
    },
    {
        "id": "267591c6d73da31d",
        "type": "ui-control",
        "z": "5130c95e050fe9b6",
        "name": "",
        "ui": "ui_base_01",
        "events": "all",
        "x": 1247.0000381469727,
        "y": 182.0000171661377,
        "wires": [
            []
        ]
    }
]